*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css header  */
header{
    background-color: aqua;
    height: 600px;
}
#menu-container-flex{
    background-color: green; 
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

/* dimensionamento quadrati */
#logo,
#login{
    width: 200px;
    height: 150px;
    background-color: red;
}
#selection{
    width: 1000px;
    height: 150px;
    background-color: red;
}

#introduzione{
    height: 450px;
    background-color: brown;
    width: 60%;
    margin:auto;
}

/* css MAIN */

/* dimensionamento */
.section{ 
    
    background-color: grey;
}
.container-main{
    width: 80%;
    height: 200px;
    margin: auto;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}
.reverse-section{
    flex-direction: row-reverse;
}

.immagine{
    width: 100%; 
    height: 200px;
    background-color: black;
}
.testo{
    width: 100%; 
    height: 200px;
    background-color: rgb(244, 215, 0);
    
}
/* sezione finale a colonna*/
#section-colonna{
    flex-direction: column;
    width: 80%;
    margin: auto;
}
